{% comment %} 
    content - Основной контект 
    cssLinks - Теги link для css
    title - блок тайтла
    user - Данные о юзере
{% endcomment %}

<!DOCTYPE html>
{% load static tailwind_tags%}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    Домашняя страница
    {% endblock title %}
      </title>

      {% tailwind_css %}


    {% block headOther %}
      
    {% endblock headOther %}
      <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body class='scroll-smooth'>
    <header class='fixed top-2 w-full ' >
      <div class='max-h-[64px] grid grid-rows-[8px,1fr,1fr] grid-cols-[30px,50px,400px,1fr,400px] w-[95%] mr-20 h-[64px] ml-12  bg-panel rounded-2xl shadow-inner shadow-[#65558F]/20 '>

        <div class='row-start-2 col-start-4 grid  justify-center justify-items-center max-h-16 h-[45px]'>
            <span class='row-start-2 col-start-2 text-dark_panel font-bold'><p>{% block tovarName %}<a href='{% url "home" %}'>Отзовик</a>{% endblock tovarName %}</p></span>
        </div>
        <div class='col-start-2 row-start-2 h-12 w-12'><img class=' w-12 h-12' src="{% static 'svg/menu.svg' %}" alt="menu"></div>
            <div class="w-96 col-start-5 row-start-1 grid grid-cols-3 grid-rows-[8px,1fr,8px] max-h-[64px]">
                <button type="button" class='bg-button active:bg-panel col-start-1 row-start-2 transition-colors h-12 p-2 w-[200px] max-sm:col-start-4   rounded-[100px]  shadow-[0_-0px_10px_-3px_rgba(0,0,0,0.5)]  gap-2 text-[#65558f] font-bold'>
                    <a href="{% url 'tovar_create' %}">+ Добавить товар</a>
                </button>
                <div class='flex items-center justify-center col-start-3 row-start-2  h-12 bg-button rounded-3xl w-[130px] active:bg-panel text-dark_panel font-bold p-2 cursor-pointer shadow-[0_-0px_10px_-3px_rgba(0,0,0,0.5)]'>
                    {% if user.is_authenticated %}
                        <p class='mr-2 logout'>Выйти |</p><a href="">{{user.username}}</a>
                    {% else %}
                        <a href="{% url 'register:login' %}">Войти</a>
                    {% endif %}

                </div> 
            </div>
        </div>
    </header>

    


        
        {% block content %}
        
        {% endblock content %}
            

<script src='{% static "js/index.js" %}'></script>
</body>
</html>